@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

$font-primary-color: gray;
$font-style: "Questrial", sans-serif;

.home,
.create {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-style;
    color: $font-primary-color;
}

.home {
    #create-instance {
        background: none;
        border: none;
        padding: 0.7rem;
        font-family: $font-style;
        border: 1px solid $font-primary-color;
        border-radius: 5px;
        margin-bottom: 1.5rem;
        color: $font-primary-color;
    }
    #create-instance:hover {
        cursor: pointer;
    }
    div {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}

.create {
    div {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        label {
            margin-bottom: 0.5rem;
        }
        input {
            height: 30px;
            font-family: $font-style;
            color: $font-primary-color;
        }
    }
    button {
        width: 200px;
        background: none;
        border: none;
        padding: 0.7rem;
        font-family: $font-style;
        border: 1px solid $font-primary-color;
        border-radius: 5px;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        color: $font-primary-color;
    }
    button:hover {
        cursor: pointer;
    }
}

.details {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .details-subcontainer {
        margin-top: 5rem;
        p {
            padding: 0.5rem;
            a {
                margin-left: 0.3rem;
            }
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p {
                padding: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .home {
        div {
            width: 90%;
            font-size: 0.9rem;
        }
    }
    .create {
        div {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 360px) {
    .home {
        font-size: 0.9rem;
    }
}
