@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Questrial", sans-serif;
    color: gray;
    h2 {
        margin-bottom: 1rem;
    }
    #title-helper {
        margin-bottom: 3rem;
    }
    #create-instance {
        background: none;
        border: none;
        padding: 0.7rem;
        font-family: "Questrial", sans-serif;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 1.5rem;
    }
    div {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .home {
        #title-helper {
            max-width: 60%;
            text-align: center;
            margin-bottom: 2rem;
        }
        div {
            width: 90%;
            font-size: 0.9rem;
        }
    }
}

@media only screen and (max-width: 360px) {
    .home {
        font-size: 0.9rem;
    }
}
